/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET ABOVE */

:root
{
    --color-primary-blue-0: #336799;
    --color-primary-blue-1: #7BA3CA;
    --color-primary-blue-2: #4E7EAB;
    --color-primary-blue-3: #19538A;
    --color-primary-blue-4: #0E3E6C;

    --color-complement-orange-0: #ECA742;
    --color-complement-orange-1: #FFD393;
    --color-complement-orange-2: #FFC269;
    --color-complement-orange-3: #D58819;
    --color-complement-orange-4: #A6670A;

    --color-primary-red-0: #5E2639;
    --color-primary-red-1: #855464; 
    --color-primary-red-2: #643A48; 
    --color-primary-red-3: #51162A; 
    --color-primary-red-4: #3D0719; 

    --color-complement-green-0: #426026;
    --color-complement-green-1: #6E8755;
    --color-complement-green-2: #50663B;
    --color-complement-green-3: #345216;
    --color-complement-green-4: #223E07;

    --color-text-main: #000;
    --color-text-disabled: #666666;
    --color-buttons-bg-main: #212e3b;
    --color-buttons-text-main: #FFC269;

    --color-buttons-bg-small: #0E3E6C;
    --color-buttons-text-small: #0E3E6C;

    --color-background: #9bbad8;
    --color-readonly: #b1cae2;
    --color-invalid: #dbc8aa;
}

body
{
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: 'Courier New', Courier, monospace;
}

p
{
    justify-self: center;
}

.container 
{
    display: grid;
    /* height: calc(100vh - 20vh); */
    width: calc(100vw - 20vw);
    /* grid-template-rows: repeat(15, 1fr); */
    row-gap: 10px;
    justify-items: stretch;
    justify-content: center;
    align-items: stretch;
    align-content: center;    
    margin-left: calc(10vw);
    margin-top: calc(5vh);
}

.container-row
{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    justify-items: stretch;
    justify-content: center;
    align-items: stretch;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container-row p
{
    font-size: 2em;
    font-weight: bold;
    align-self: center;
    grid-column: 1 / span 5;
    height: 50px;
}

#validation-result
{
    background-color: var(--color-buttons-text-main);
    grid-column: 1 / span 5;
    align-self: center;
    justify-self: center;
    font-size: 2em;
    color: red;
    height: 50px;
}

.container-row label
{
    grid-column: 1 / span 2;
    font-size: 1.75em;
    justify-self: start;
    align-self: center;
}

.container-row input
{
    font-size: 1.75em;
    height: 100px;
    border-radius: 4px;
    grid-column: 3 / span 2;
    border-width: 0px;
}

.container-row button
{
    border-width: 1px;
    text-align: center;
    height: 100px;

    background-color: unset;
    border-style: solid;
    border-color: var(--color-buttons-bg-small);
    color: var(--color-buttons-text-small);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    grid-column: 5 / span 1;
    justify-self: end;
}

.view-button
{
    border-radius: 4px;
}

#delete-button
{
    justify-self: left;
    grid-column: 1 / span 2;
}

#save-button
{
    justify-self: left;
    grid-column: 4 / span 2;
}

#delete-button, #save-button, #generate-button, #generate-new-button, #save-password, #copy-password
{
    width: 100%;
    border-radius: 4px;
    text-align: center;

    background-color: var(--color-buttons-bg-main);
    color: var(--color-buttons-text-main);
}

#delete-button:disabled, #save-button:disabled
{
    background-color: var(--color-invalid);
    color: var(--color-text-disabled);
}

.container-row hr
{
    width: 100%;
    height: 5px;
    border: none;
    background-color: var(--color-buttons-bg-main);
    grid-column: 1 / span 5;
    align-self: center;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#generate-button, #generate-new-button
{
    justify-self: left;
    grid-column: 1 / span 2;
}

#copy-password
{
    grid-column: 3 / span 2;
}

#save-password
{
    grid-column: 5 / span 1;
}

#generate-button:disabled
{
    background-color: var(--color-invalid);
    color: var(--color-text-disabled);
}

#save-password:disabled
{
    background-color: var(--color-invalid);
    color: var(--color-text-disabled);
}

#generate-new-button:disabled
{
    background-color: var(--color-invalid);
    color: var(--color-text-disabled);
}

input:invalid
{
    background-color: var(--color-invalid);
    box-shadow: none;
}

input:read-only
{
    background-color: var(--color-readonly);
}

input:-moz-read-only
{
    background-color: var(--color-readonly);
}

/* @media screen and (max-device-width: 600px)
{
    body 
    { 
        font-size: 1.75em;
        background-color: red; 
    }

    .container-row button
    {
        font-size: 1.75em;
    }
} */