/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET ABOVE */

:root
{
    --color-primary-blue-0: #336799;
    --color-primary-blue-1: #7BA3CA;
    --color-primary-blue-2: #4E7EAB;
    --color-primary-blue-3: #19538A;
    --color-primary-blue-4: #0E3E6C;

    --color-complement-orange-0: #ECA742;
    --color-complement-orange-1: #FFD393;
    --color-complement-orange-2: #FFC269;
    --color-complement-orange-3: #D58819;
    --color-complement-orange-4: #A6670A;

    --color-primary-red-0: #5E2639;
    --color-primary-red-1: #855464; 
    --color-primary-red-2: #643A48; 
    --color-primary-red-3: #51162A; 
    --color-primary-red-4: #3D0719; 

    --color-complement-green-0: #426026;
    --color-complement-green-1: #6E8755;
    --color-complement-green-2: #50663B;
    --color-complement-green-3: #345216;
    --color-complement-green-4: #223E07;

    --color-text-main: #000;
    --color-text-disabled: #666666;
    --color-buttons-bg-main: #212e3b;
    --color-buttons-text-main: #FFC269;

    --color-buttons-bg-small: #0E3E6C;
    --color-buttons-text-small: #0E3E6C;

    --color-background: #9bbad8;
    --color-readonly: #b1cae2;
    --color-invalid: #dbc8aa;
}

body
{
    background-color: var(--color-background);
    color: var(--color-text-main);
}

p, label, input, button
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

input:invalid
{
    background-color: var(--color-invalid);
    box-shadow: none;
}

input:read-only
{
    background-color: var(--color-readonly);
}

input:-moz-read-only
{
    background-color: var(--color-readonly);
}

.container 
{
    display: grid;
    grid-template-columns: 1fr;
    width: calc(100vw - 10vw);
    row-gap: calc(0.5vh);
    justify-items: stretch;
    justify-content: center;
    align-items: center;
    align-content: center;    
    margin-left: calc(5vw);
    margin-top: calc(3vh);
}

.container-row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    margin-top: calc(1vh);
    margin-bottom: calc(1vh);
}

.container-row-title
{
    font-weight: bold;
    justify-self: center;
    margin-bottom: calc(1vh);
}

#validation-result
{
    background-color: var(--color-buttons-text-main);
    align-self: center;
    justify-self: center;
    color: red;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.label-constant, .label-variable
{
    flex-basis: 100%;
}

.input-constants, .input-vars
{
    flex-basis: 75%;
    height: calc(3vh);
    min-height: 20px;
    border-radius: 4px;
    border-width: 0px;
}

.view-button
{
    flex-basis: 20%;
    height: calc(3vh);
    min-height: 20px;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;

    background-color: unset;
    border-style: solid;
    border-color: var(--color-buttons-bg-small);
    color: var(--color-buttons-text-small);
}

.action-button
{
    flex-basis: 40%;

    border-radius: 4px;
    border-width: 0px;
    text-align: center;

    height: calc(5vh);
    min-height: 30px;

    margin-top: calc(2vh);

    background-color: var(--color-buttons-bg-main);
    color: var(--color-buttons-text-main);
}

.action-button:disabled
{
    background-color: var(--color-invalid);
    color: var(--color-text-disabled);
}

.hor-line
{
    flex-basis: 100%;
    height: calc(0.5vh);
    border: none;
    background-color: var(--color-buttons-bg-main);
    align-self: center;
    justify-self: center;
    margin-top: calc(1vh);
    margin-bottom: calc(1vh);
}

#generate-button
{
    flex-basis: 100%;
    height: calc(7vh);
    min-height: 40px;
}

#generate-new-button, #export-data
{
    height: calc(7vh);
    min-height: 30px;
}

@media screen and (min-device-width: 800px)
{
    .container
    {
        width: calc(100vw - 65vw);
        margin-left: calc(32.5vw);
    }

    .container-row
    {
        margin-top: calc(0.5vh);
        margin-bottom: calc(0.5vh);
    }

    .action-button
    {
        margin-top: calc(1vh);
        max-width: calc(100vw - 92.5vw);   
    }

    #generate-new-button, #export-data
    {
        max-width: calc(100vw - 85vw);
    }

    #generate-button
    {
        max-width: calc(100vw - 85vw);
        margin-left: auto;
        margin-right: auto;
    }
}